node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
.DS_Store
my/
*.env
.env
features/preview/fonts/
features/preview/node_modules/
products/todo-app/node_modules/
products/www/construction-lp/node_modules/
products/ai-company/.next/
**/__pycache__/
*.env.*
